@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>This application was created by <a href="mailto:Brian.Painter88@gmail.com">Brian Painter</a> to be used by members of the <i>Troy Trivia</i> team.</p>
